{% extends '_base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}
    <div class="container mt-4">
        <div class="row">
            {% for post in posts %}
                <div class="col-9">
                    <div class="card shadow-sm my-3">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted small py-2">{{ post.date_created }}</h6>
                            <p class="card-text py-3">
                                {{ post.text }}
                            </p>
                            <a class="btn btn-success" href="{% url 'post_detail' post.id %}">Read More</a>
                            {% if user.is_authenticated %}
                            <a class="btn btn-info" href="{% url 'post_update' post.id %}">Edit</a>
                            <a class="btn btn-danger" href="{% url 'post_delete' post.id %}">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-3">
                <div class="card my-4">
                    <h5 class="card-header">About</h5>
                    <div class="card-body">
                        <p class="card-text">We love python and django. So we created a blog site to share our
                            thoughts</p>
                        <a href="#"
                           class="btn btn-sm btn-danger">
                            More...
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

